body {
    text-align: center;
    padding-top: 5%;
}

th {
    background-color: #000;
    color: white;
    width: 50%;
    border: 1px solid #000;
}

td {
    padding: 5px;
    border: 1px solid #000;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    border-collapse: collapse;
}

#insert-table {
    padding-top: 5%;
    width: 50%;
}

.user-input {
    width: 100%;
}

#data-table {
    padding-top: 10%;
    width: 75%;
}
